@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;

}

/*navbar start*/
.navbar {
    height: 20vh;
    display: flex;
    padding: 0 8%;
    background: rgb(26, 125, 255);
}

.logo {
    width: 90px;
    height: 90px;
    clip-path: circle();
    cursor: pointer;
    margin-top: 20px;
}

.intro {
    margin-left: 10px;
    margin-top: 20px;
    color: #000;
    cursor: pointer;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}

.intro2 {
    margin-left: 18px;
    text-align: left;
    font-size: 25px;
    line-height: 0.1;
    text-transform: uppercase;
    font-family: monospace;
}

nav {
    flex: 1;
    text-align: right;
    margin-top: 32px;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: monospace;
    font-weight: 500;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgb(125, 192, 255);
    border-radius: 18px;
}

/*navbar end*/

/* banner-start */
.body {
    padding: 0 12%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: #fff;
    box-shadow: 0 20px 20px 1px rgba(0, 0, 0, 0.5);
}

.header {
    width: 100%;
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("new school.jpg");
    background-size: cover;
    box-sizing: border-box;
}

.scroll-txt {
    color: #fff;
    background: rgba(0, 0, 0, 0.35);
    font-family: NikoshBAN;
    font-size: 18px;
    word-spacing: 5px;
}

#menu-icon {
    display: none;
}
/* banner-end */

/*result start*/
.result .title {
    background-color: #32b9db;
    padding: 5px;
    margin: 10px 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    padding-left: 8px;
    font-size: 28px;
    font-family: serif;
    color: #fff;
}

.result {
    padding-bottom: 5px;
}

.result table {
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
}

table,
tr,
th {
    border-spacing: 0;
}

tr {
    height: 40px;
}

th,
td {
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/*result end*/

/* footer start */
.footer {
    background: rgb(34, 34, 34);
    padding: 8px;
    box-shadow: 0 -4px 8px rgba(48, 48, 48, 0.5);
    font-family: sans-serif;
}

.p-footer1,
.p-footer2 {
    text-align: center;
    color: rgb(199, 199, 199);
    font-size: 9px;
    font-family: sans-serif;
    margin-bottom: 3px;
}

.p-footer2 {
    font-size: 10px;
    margin: 0;
}

.dev {
    color: rgb(151, 151, 151);
    font-size: 10px;
    text-align: right;
}

/* footer end */

@media only screen and (max-width: 720px) {
    .navbar {
        height: 12vh;
        padding: 0 6%;
    }

    .logo {
        width: 40px;
        height: 40px;
        margin-top: 20px;
    }

    .intro {
        font-size: 15px;
        margin-top: 25px;
        margin-left: 5px;
    }

    .intro2 {
        font-size: 9px;
        margin-left: 6px;
    }

    nav {
        padding: 0;
    }

    nav ul {
        padding: 0;
        top: 10px;
        right: 26px;
    }

    nav ul li {
        padding: 0;
    }

    nav ul li a {
        padding: 0 7px;
        font-size: 10px;
        color: #fff;
    }

    nav ul li a:hover {
        background: none;
    }

    #menu-icon {
        font-size: 12px;
        margin-top: 26px;
        display: block;
    }

    #menuList {
        line-height: 0.95;
        overflow: hidden;
        transition: 0.4s;
    }

    .body {
        padding: 0;
    }

    .container {
        box-shadow: none;
    }

    .header {
        width: 100%;
        height: 27vh;
    }

    .scroll-txt {
        font-size: 12px;
        word-spacing: 4px;
    }

    .result .title {
        font-size: 18px;
        font-family: serif;
        margin: 5px;
        margin-bottom: 10px;
    }

    .result table {
        width: 95%;
    }

    th,
    td {
        font-size: 10px;
    }
}